<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
			http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd
			http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd"
	>
<!-- 	<context:property-placeholder location="classpath:config.properties" /> -->
	<!-- 使用spring自带的占位符替换功能 -->
	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<!-- 允许JVM参数覆盖 -->
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
		<property name="ignoreResourceNotFound" value="true" />
		<!-- 配置资源文件 -->
		<property name="locations">
			<list>
				 <!-- 在web环境中一定要定位到classpath 否则默认到当前web应用下找  -->
				<value>classpath:env.properties</value>
				<value>classpath:config.properties</value>
			</list>
		</property>
	</bean>
	<!-- 已指定id加载properties文件 -->
	<util:properties id="properties" location="classpath:config.properties"/>
	<context:component-scan base-package="com.xiaya" />
	
	<bean name="dataSourceMybatis" class="com.alibaba.druid.pool.DruidDataSource" >
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	
		<property name="initialSize" value="1" />		
		<property name="maxActive" value="${jdbc.maxConn}" />	
		<property name="minIdle" value="1" />
		
		<property name="maxWait" value="120000" />
		
		<property name="validationQuery" value="SELECT 1 FROM DUAL" />
		<property name="testOnBorrow" value="false" />
		<property name="testOnReturn" value="false" />
		<property name="testWhileIdle" value="true" />
		
		<property name="removeAbandoned" value="true" />
		<property name="removeAbandonedTimeout" value="1800" />
		<property name="logAbandoned" value="true" />
		
		<property name="timeBetweenEvictionRunsMillis" value="60000" />
		
		<property name="minEvictableIdleTimeMillis" value="300000" />
		
		<property name="filters" value="mergeStat,slf4j" />
		
<!-- 		<property name="timeBetweenLogStatsMillis" value="60000" /> -->
		
		<property name="connectionProperties" value="druid.stat.slowSqlMillis=2000" />
		
        <property name="poolPreparedStatements" value="true" />
        <property name="maxPoolPreparedStatementPerConnectionSize" value="20" />
	</bean>
	<bean class="com.xiaya.core.utils.ContextUtils"/>
</beans>
