<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
			http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd
			http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd"
	>
<!-- 	<context:property-placeholder location="classpath:config.properties" /> -->
	<!-- 使用spring自带的占位符替换功能 -->
	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<!-- 允许JVM参数覆盖 -->
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
		<!-- 忽略没有找到的资源文件 -->
		<property name="ignoreResourceNotFound" value="true" />
		<!-- 配置资源文件 -->
		<property name="locations">
			<list>
				 <!-- 在web环境中一定要定位到classpath 否则默认到当前web应用下找  -->
				<value>classpath:env.properties</value>
				<value>classpath:config.properties</value>
			</list>
		</property>
	</bean>
	<!-- 以指定id加载.properties的方法 -->
	<util:properties id="properties" location="classpath:config.properties"/>
	
	<!-- 扫描包 -->
	<context:component-scan base-package="com.xiaya" />
	
	<!-- 数据源 -->
	<bean name="dataSourceMybatis" class="com.alibaba.druid.pool.DruidDataSource" >
		<!-- 数据库驱动 -->
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	
		<property name="initialSize" value="1" />		
		<property name="maxActive" value="${jdbc.maxConn}" />	
		<property name="minIdle" value="1" />
		
		<!-- 配置获取连接等待超时的时间 -->
		<property name="maxWait" value="120000" />
		
		<property name="validationQuery" value="SELECT 1 FROM DUAL" />
		<property name="testOnBorrow" value="false" />
		<property name="testOnReturn" value="false" />
		<property name="testWhileIdle" value="true" />
		
		<!-- 连接泄漏监测 -->
		<!-- 打开removeAbandoned功能 -->
		<property name="removeAbandoned" value="true" />
		<!-- 1800秒，也就是30分钟 -->
		<property name="removeAbandonedTimeout" value="1800" />
		<!-- 关闭abanded连接时输出错误日志 -->
		<property name="logAbandoned" value="true" />
		
		<!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
		<property name="timeBetweenEvictionRunsMillis" value="60000" />
		
		<!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
		<property name="minEvictableIdleTimeMillis" value="300000" />
		
		<property name="filters" value="mergeStat,slf4j" />
		
		<!-- 定时输出日志 1分钟 -->
<!-- 		<property name="timeBetweenLogStatsMillis" value="60000" /> -->
		
		<!-- 超过2s为慢sql -->
		<property name="connectionProperties" value="druid.stat.slowSqlMillis=2000" />
		
		<!-- 打开PSCache，并且指定每个连接上PSCache的大小 -->
        <property name="poolPreparedStatements" value="true" />
        <property name="maxPoolPreparedStatementPerConnectionSize" value="20" />
	</bean>
	

	<bean class="com.xiaya.core.factory.HttpClientFactory" />
	<bean class="com.xiaya.core.httputils.HttpClientUtils" />
	<bean class="com.xiaya.core.utils.ContextUtils"/>
	<bean class="com.xiaya.core.utils.RedisUtils"/>
	<bean class="com.xiaya.core.httputils.RetrofitHttpConfiguration"/>
</beans>
